<div>
    <h2 data-translate="dancekvartalApp.teacher.home.title">Teachers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="teacher-fe.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="dancekvartalApp.teacher.home.createLabel">
                        Create new Teacher
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th class="nowrap" jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th class="nowrap" jh-sort-by="personId"><span data-translate="global.field.person">Person</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="age" class="nowrap"><span data-translate="global.field.age">Age</span><span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="address" class="nowrap"><span data-translate="global.field.address">Address</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="phones" class="nowrap"><span data-translate="global.field.phones">Phones</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th class="nowrap" jh-sort-by="parentId"><span
                    data-translate="global.field.subjects">Subjects</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th class="nowrap" jh-sort-by="userId" ng-show="vm.teacher.userId"><span
                    data-translate="global.field.user">User</span> <span
                    class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="teacher in vm.teachers track by teacher.id">
                <td><a ui-sref="teacher-fe-detail({id:teacher.id})">{{teacher.id}}</a></td>
                <td>
                    <a ui-sref="person-fe-detail({id:teacher.person.id})">
                        {{teacher.person.firstname}} {{teacher.person.lastname}}
                    </a>
                </td>
                <td>{{teacher.person.birthday | ageFilter}}</td>
                <td>
                    {{teacher.person.address}}
                </td>
                <td>
                    <span>{{teacher.person.phone1}}</span>
                    <br/>
                    <span>{{teacher.person.phone2}}</span>
                </td>
                <td class="nowrap">
                    <div ng-show="teacher.subjects.length == 0">
                        <a ui-sref="subject-fe">
                            ->Subjects
                        </a>
                    </div>
                    <div ng-repeat="subject in teacher.subjects" >
                        <a ui-sref="subject-fe-detail({id:subject.id})">
                            <span class="label label-info">
                                {{ subject.name }}
                            </span>
                        </a>
                    </div>
                </td>
                <td>
                    {{teacher.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="teacher-fe-detail({id:teacher.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="teacher-fe.edit({id:teacher.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="teacher-fe.delete({id:teacher.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
