<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLessonLabel" data-translate="dancekvartalApp.lesson.home.createOrEditLabel">Create
            or edit a Lesson</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.lesson.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.lesson.id" readonly/>
        </div>

        <div class="form-group">
            <label data-translate="dancekvartalApp.lesson.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" ng-model="vm.lesson.subject"
                    ng-options="subject as subject.name for subject in vm.subjects"
                    required>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="dancekvartalApp.lesson.startLesson" for="field_startLesson">Start
                Lesson</label>
            <div class="input-group">
                <input id="field_startLesson" type="text" class="form-control" name="startLesson"
                       datetime-picker="{{dateformat}}" ng-model="vm.lesson.startLesson"
                       is-open="vm.datePickerOpenStatus.startLesson"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startLesson')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dancekvartalApp.lesson.endLesson" for="field_endLesson">End
                Lesson</label>
            <div class="input-group">
                <input id="field_endLesson" type="text" class="form-control" name="endLesson"
                       datetime-picker="{{dateformat}}" ng-model="vm.lesson.endLesson"
                       is-open="vm.datePickerOpenStatus.endLesson"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endLesson')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="dancekvartalApp.lesson.teacher" for="field_teacher">Teacher</label>
            <select class="form-control" id="field_teacher" name="teacher" ng-model="vm.lesson.teacher"
                    ng-options="teacher as teacher.person.firstname + ' ' + teacher.person.lastname for teacher in vm.teachers"
                    required>
            </select>
        </div>
        <div ng-show="editForm.teacher.$invalid">
            <p class="help-block"
               ng-show="editForm.teacher.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="dancekvartalApp.lesson.students" for="field_students">Students</label>
            <select class="form-control" id="field_students" multiple name="students" ng-model="vm.lesson.students"
                    ng-options="student as student.person.firstname + ' ' + student.person.lastname for student in vm.students track by student.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
